@model PlantDatabase.Models.ViewModels.DetailsPlant

@{
    ViewBag.Title = "View";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col"><h2>@Model.selectedplant.plant_name</h2></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">humidity preference:</th>
            @if (@Model.selectedplant.plant_humidity == 1)
            {
                <td>High Humidity</td>
            }
            else if (@Model.selectedplant.plant_humidity == 2)
            {
                <td>Medium Humidity</td>
            }
            else if (@Model.selectedplant.plant_humidity == 3)
            {
                <td>Any</td>
            }
            else
            {
                <td>ERROR</td>
            }
        </tr>
        <tr>
            <th scope="row">light needs:</th>
            @if (@Model.selectedplant.plant_light == 1)
            {
                <td>Bright</td>
            }
            else if (@Model.selectedplant.plant_light == 2)
            {
                <td>Medium</td>
            }
            else if (@Model.selectedplant.plant_light == 3)
            {
                <td>Low</td>
            }
            else
            {
                <td>ERROR</td>
            }
        </tr>
        <tr>
            <th scope="row">water when soil is:</th>
            @if (@Model.selectedplant.plant_water == 1)
            {
                <td>Almost Dry</td>
            }
            else if (@Model.selectedplant.plant_water == 2)
            {
                <td>Mostly Dry</td>
            }
            else if (@Model.selectedplant.plant_water == 3)
            {
                <td>Fully Dry</td>
            }
            else
            {
                <td>ERROR</td>
            }
        </tr>
    </tbody>
</table>

<table class="table">
        <tr>
            <th scope="col">days watered:</th>
        </tr>
        <tbody>
            @foreach (var water_date in Model.RelatedWater_Date)
            {
                <tr>
                    <td scope="row"><a href="/Water_Date/Details/@water_date.water_id">@water_date.water_day.ToString("dd/MMMM")</a></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr><td><a href="/Water_Date/New">Add New Watering</a></td></tr>
        </tfoot>
</table>
<a href="/Plant/Edit/@Model.selectedplant.plant_id">Update</a>

<a href="/Plant/DeleteConfirm/@Model.selectedplant.plant_id">Delete</a>
